{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "comma-dangle": "off",
    "max-len": [1, 180, 4],
    "no-underscore-dangle": [0],
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/prefer-stateless-function": [0]
  }
}
